##################################
# Visual Studio / VS Code
##################################
.vs/
.vscode/

##################################
# Build results
##################################
bin/
obj/
out/

##################################
# User-specific files
##################################
*.user
*.suo
*.userosscache
*.sln.docstates

##################################
# Rider
##################################
.idea/
*.sln.iml

##################################
# OS files
##################################
.DS_Store
Thumbs.db
ehthumbs.db

##################################
# Logs
##################################
*.log

##################################
# Environment variables
##################################
.env
.env.*

##################################
# NuGet
##################################
packages/
*.nupkg
*.snupkg

##################################
# ASP.NET Core
##################################
appsettings.Development.json
appsettings.Production.json

##################################
# Publish
##################################
publish/
wwwroot/lib/

##################################
# Test results
##################################
TestResults/

##################################
# Database / local files
##################################
*.mdf
*.ldf

##################################
# Others
##################################
*.cache
*.tmp
