* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, Helvetica, Arial, sans-serif !important;
}
body {
  width: 100%;
  height: 100%;
  color: #111827;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background: #f4f5f8;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
body,
input,
textarea {
  font-family: Inter;
  color: #111827;
  font-size: 13px;
  font-weight: 400;
}
